@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Baskervville+SC&family=Bungee+Tint&display=swap");
* {
  font-family: "Baskervville SC", serif;
  font-weight: 500;
}
h3 {
  font-weight: bold;
  text-decoration-line: underline;
}

h4 {
  font-weight: bold;
}

body {
  font-family: Georgia, serif;
  background-color: #fef3dc;
  margin: 0;
  padding: 2em;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}
/* Add your own custom styles here */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: bisque;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  padding: 0.6em 1.2em;
  font-size: 17px;
  font-weight: bold;
}

.loading{
  font-size: 17px;
  background-color: bisque;
}

.search {
  display: flex;
  flex-direction: column-reverse;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 15px;
  padding: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 3px;
  margin-bottom: 15px;
  width: 100vw;
}

form input {
  margin-bottom: 7px;
}

form input,
form label,
form button {
  width: 100%;
}

.article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(117, 41, 3);
  border-radius: 10px;
  width: 300px;
  padding: 0 15px 15px;
  margin: 0 10px 10px 0;
}

.image-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 200px; 
  margin-bottom: 25px;
  margin-top: 25px;
}

.book-card img {
  height: auto; 
  object-fit: contain; 
}
.single-card-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(193, 87, 7);
  border-radius: 10px;
  width: 300px;
  padding: 0px 15px 15px;
  margin: 0 10px 10px 0;
  background-color: rgb(252, 229, 201);
}

img {
  text-align: center;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 1em;
  width: 150px;
}
.available {
  color: rgb(12, 134, 12);
  font-weight: bold;
}

.checked-out {
  color: rgb(147, 4, 4);
  font-weight: bold;
}
